<%= form_for [@recipient, Message.new] do |f| %>
    <div class="form-group">
      <div>
        <%= f.label :recipient_id %>
        <% if @recipient %>
            <%= f.select :recipient_id, current_user.friends.map { |recipient| [recipient.name, recipient.id] }, selected: @recipient.id, class: 'form-control' %>
        <% else %>
            <%= f.select :recipient_id, current_user.friends.map { |recipient| [recipient.name, recipient.id] }, class: 'form-control' %>
        <% end %>
      </div>
      <div>
        <%= f.label :body %>
        <%= f.text_area :body, class: 'form-control' %>
      </div>
    </div>
    <%= f.submit 'Send Message', class: 'btn btn-success-outline' %>
<% end %>